Naked==0.1.31
PyYAML==3.11
Twisted==15.5.0
argparse==1.2.1
cffi==1.5.0
gmpy==1.17
lazr.sshserver==0.1.4
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pygit2==0.23.3
requests==2.9.1
shellescape==3.4.1
wsgiref==0.1.2
zope.component==4.2.2
zope.event==4.1.0
zope.interface==4.1.3
